* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

html {
  font-family: "Jua", sans-serif;
  background-color: rgb(39, 35, 36);
}

.scoreBoard {
  display: flex;
  justify-content: space-around;
  border: 15px groove #e86f68;
  background-color: #e4d8b4;
  opacity: 0.9;
  color: rgb(39, 35, 36);
  margin: 2px 2px 0 2px;
  height: 15vh;
}
.scoreBoard .playerScore,
.scoreBoard .computerScore {
  font-size: 30px;
}

.scoreBoard label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.gameInstructions {
  text-align: center;
  margin-top: 30px;
  color: #e2cd6d;
}

section {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
  border: 15px dashed #e86f68;
  border-radius: 2%;
  background-color: #e4d8b4;
  opacity: 0.9;
  color: rgb(39, 35, 36);
}

.winner {
  font-size: 50px;
}

.buttonContainer {
  display: flex;
  width: 40vh;
  justify-content: space-between;
}

.rock {
  font-size: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 20px silver;
  border: 2px solid silver;
  color: rgb(39, 35, 36);
  background-color: #e4d8b4;
  font-family: "Jua", sans-serif;
  padding: 10px 10px 10px 10px;
  outline: none;
}
.rock:hover {
  animation-name: button;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.paper {
  font-size: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 20px silver;
  border: 2px solid silver;
  color: rgb(39, 35, 36);
  background-color: #e4d8b4;
  font-family: "Jua", sans-serif;
  padding: 10px 10px 10px 10px;
  outline: none;
}
.paper:hover {
  animation-name: button;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}

.scissors {
  font-size: 30px;
  cursor: pointer;
  box-shadow: 2px 2px 20px silver;
  border: 2px solid silver;
  color: rgb(39, 35, 36);
  background-color: #e4d8b4;
  font-family: "Jua", sans-serif;
  padding: 10px 10px 10px 10px;
  outline: none;
}
.scissors:hover {
  animation-name: button;
  animation-duration: 250ms;
  animation-fill-mode: forwards;
}
/*Call button animation here */
@keyframes button {
  100% {
    color: red;
    box-shadow: 3px 3px 20px grey;
  }
}

/* The class that ends the game */
.gameOver {
  display: none;
}
