.scoreBoard {
  display: flex;
  justify-content: space-around;
  border: 1px solid black;
}
.scoreBoard .playerScore,
.scoreBoard .computerScore {
  font-size: 30px;
}

.scoreBoard label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  margin: 20px 0 0 0;
}

section {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 100vw;
  justify-content: space-around;
  align-items: center;
}

.winner {
  font-size: 50px;
}

.buttonContainer {
  display: flex;
  width: 40vh;

  justify-content: space-between;
}
.rock {
  font-size: 30px;
}
.paper {
  font-size: 30px;
}
.scissors {
  font-size: 30px;
}

/* The class that ends the game */
.gameOver {
  display: none;
}
